<div class="card">
  <img src="http://placehold.it/300x15/3889B0/3889B0" class="card-img-top" alt="...">
  <div class="card-header">
    <img src="../images/cptm.png" width="24" style="vertical-align: top;"> Linha <%-cptm.situacao[3].codigo%> -
    <%-cptm.situacao[3].linha%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%-cptm.situacao[3].status%></h5>
    <p><%-cptm.situacao[0].descricao %></p>
    <small>Última atualização: <%= datefns.format(cptm.timestamp,"dd/MM/yyyy HH:m:s")%></small>
  </div>
</div>