<div class="card">
  <img src="http://placehold.it/300x15/52A353/52A353" class="card-img-top" alt="...">
  <div class="card-header">
    <img src="../images/cptm.png" width="24" style="vertical-align: top;"> Linha <%-cptm.situacao[6].codigo%> -
    <%-cptm.situacao[6].linha%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%-cptm.situacao[6].status%></h5>
    <p><%-cptm.situacao[0].descricao %></p>
    <small>Última atualização: <%-cptm.timestamp%></small>
  </div>
</div>