<div class="card">
    <img src="http://placehold.it/300x15/ccc/ccc" class="card-img-top" alt="...">
    <div class="card-header"><img src="../images/metro.png" width="24" style="vertical-align: top;"> Linha <%-metro.situacao[4].codigo%> - <%-metro.situacao[4].linha%>
    </div>
<div class="card-body">
  <h5 class="card-title"><%-metro.situacao[4].status%></h5>
  <p><%-metro.situacao[4].descricao %></p>
  <small>Última atualização: <%= datefns.format(metro.timestamp,"dd/MM/yyyy HH:m:s")%></small>
</div>
</div>