<div class="card">
    <img src="http://placehold.it/300x15/F8C333/F8C333" class="card-img-top" alt="...">
    <div class="card-header"><img src="../images/via4.png" width="24" style="vertical-align: top;"> Linha <%-metro.situacao[5].codigo%> - <%-metro.situacao[5].linha%>
    </div>
<div class="card-body">
  <h5 class="card-title"><%-metro.situacao[5].status%></h5>
  <p><%-metro.situacao[5].descricao %></p>
  <small>Última atualização: <%=metro.timestamp%></small>
</div>
</div>